@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
 font-family: "Inter", Roboto;
}

html, body {
 padding: 0;
 margin: 0;
 background-color: whitesmoke;
}

.bg-gradient {
 @apply bg-gradient-to-r from-[#A76FFF] to-[#7445F8]
}